@font-face {
  font-family: 'VodafoneLight';
  src: url(./fonts/Vodafone/VodafoneLt.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'VodafoneRegular';
  src: url(./fonts/Vodafone/VodafoneRg.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'VodafoneBold';
  src: url(./fonts/Vodafone/VodafoneRgBd.ttf);
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'VodafoneRegular';
}
